body {
  background-color: #868d4a;
  font-family: "Get Schwifty, Wubba Lubba Dub Dub";
  font-size: 20px;
}
.logo {
  width: 50px;
  margin-left: 10px;
  border-radius: 6px;
}
.links {
  text-decoration: none;
}
